.custom1-component{
    position: absolute;
    top:850px;
    width: 50%;
    margin: 0 auto;
    background-color: #c4ddf2;
}

/* .otherLists {
    position: absolute;
    top: 850px;
    background-color: #c4ddf2;
} */